<!doctype html>
<html ng-app="plugin.list">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="dist/css/patternfly.min.css">
  <link rel="stylesheet" href="css/customstyle.css">

</head>
<body>

  <div class= "table-container" style="width:50%" id="domainTable" ng-controller="TableController as table">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
           <th class="col-md-7" data-localize="Name">Name</th>
           <!--th class="col-md-2" data-localize="Size">Size</th>
           <th class="col-md-2" data-localize="Type">Type</th-->
           <th class="col-md-1" data-localize="Actions">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="file in files">
          <td class="text-cell">{{file.name}}</td>
          <!--td class="text-cell">{{file.size}}</td>
          <td class="text-cell">{{file.type}}</td-->
          <td>
            <div class="action-table">
              <a class="btn btn-default" type="button" ng-click="rmIso($index)">
                  <span class="glyphicon glyphicon-remove-circle"></span> Delete
              </a>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
  <div ng-show="getStatus()=='loading'" class="nothing-to-display" data-localize="WFL">
    loading images ...
  </div>
  <div ng-show="getStatus()=='nofiles'" class="nothing-to-display" data-localize="NFTU">
    No files to display.
  </div>
</div>

</div> <!-- end of the flow div  -->

<footer class="footer">
  <div class="container">
    <p class="text-muted" data-localize="Thanks">Thanks for using this plugin. All the code is on <a href="https://github.com/ovirt-china/iso-uploader-plugin">GitHub</a>. Any problem or suggestion please <a href="https://github.com/ovirt-china/iso-uploader-plugin/issues/new">open an issue on GitHub</a>.</p>
  </div>
</footer>

  <script src="lib/jquery-1.11.1.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script src="lib/angular/js/angular.js"></script>
  <script src="js/common.js"></script>
  <script src="js/list.js"></script>
  <script src="js/filters.js"></script>
  <script src="lib/jquery.localize.min.js"></script>

</body>
<script type="text/javascript" charset="utf-8">
   var lang = top.location.href.split("=")[1].split("#")[0];
   $(function(){
      if (lang == 'zh_CN') {
         $("[data-localize]").localize("example", { language: "zh" })
      }
   });
</script>
</html>
